/ApiKeys.py
/HelloWorld.py
/__pycache__
my_data_dir/entity_memory_storage.db
my_data_dir/long_term_memory_storage.db
my_data_dir/short_term_memory_storage.db
venue_details.json
marketing_report.md
db/chroma.sqlite3
test_resume.md
db/ca0f2636-03da-4bb3-9276-8252899f5661/data_level0.bin
db/ca0f2636-03da-4bb3-9276-8252899f5661/header.bin
db/ca0f2636-03da-4bb3-9276-8252899f5661/length.bin
db/ca0f2636-03da-4bb3-9276-8252899f5661/link_lists.bin
tailored_resume.md
interview_materials.md
AutomatedProject/.DS_Store
.DS_Store
.DS_Store
